html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* CSS for highlighting plans */
.highlighted {
    background-color: #f0f0f0; /* Change the background color to highlight */
    border: 2px solid #007bff; /* Add a border to highlight */
    color: #007bff; /* Change the text color to highlight */
    font-weight: bold; /* Make the text bold to highlight */
  }
  